@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

.date {
  width:30px;
  padding-block:2px;
}

#time_and_date {
  display: flex;
  justify-content: center;
  margin-bottom: 20px
}

.labels {
  color: #E3E3E3;
}

#title {
  font-family: 'Raleway';
  color: #E3E3E3
}

#description {
  margin-bottom: 100px;
  color: rgb(56, 182, 255);
  font-family: 'Lucida Sans';
} 

select {
  margin:0
}

#convert {
  border:0px;
  background-color: rgb(132, 235, 235);
  color:blue;
  padding-block: 10px;
  padding-inline:25px;
  font-size:30px;
  font-family:'Segoe UI';
  border-radius:10px;
  display:block;
  margin: 0 auto;
  margin-top:100px;
}

body {
  background-color:#1E1E1E;
  color: #E3E3E3;
}

h1,h3,button {
  text-align: center;
}

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

#page_layout {
  display: flex;
  max-width: 900px;
  margin: 0 auto;
  font-family: "Inter"
}

#left {
  flex: 1;
  padding: 20px;
  padding-right: 50px;
}

#right {
  flex: 1;
  padding: 20px;
  padding-left:50px;  
  border-left: 1px solid #E3E3E3;
  font-size: 30px;
}
